/*CSS for Index.html*/
/* Passed validation on 4/19/20*/


h1 {
    text-align:center;
    color: #556A80;
    font-family: Georgia, serif;
    border-bottom: 3px solid #ABD5FF;
    flex-grow:1;
    justify-content: center;
}

h2{
    color: #556A80; 
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    width: 8em; /* This combined with the auto margins centers the H2 element */
    text-decoration: underline;
}


h3 {
    color:#556A80;
    font-size:16pt;
    display: flex;
}

body ol {
    flex:auto;
    
}


body {
    font-size: 12pt;
    margin: 2em;
    background: #F7FBFF;
    color: #556A80;
}

.flex-container {
    display: flex;
}

.flex-lists {
    display:flex;
}


#resume_link {
    text-align: center;
    font-size: 16pt;
}

main p {
    font-family: "Times New Roman", Times, serif;
    font-size: 14pt;
    margin: 4px;
    padding: 4px;
    border-bottom: 3px solid #ABD5FF;
    width: auto;
    display: flex;
    flex-grow:2;
    
    
}

p:first-letter {font-weight: bold;}

img {
    width: auto;
    float:left;
    padding: 1em;
    display: flex;
    
}

/*Quote at bottom of page*/
blockquote {
    text-align: center;
    font-size: 14pt;
    display: flex;
    justify-content: cente;
}

footer {
    border-top: 3px solid #ABD5FF;
    padding: 5px;
    text-align: center;
}

/* Class-specific modifications */

li.in-progress {
    color: #686F83;
}

li.complete {
    color:#686F83;
}

li.minors {
    color:#618BFF;
}


/* CSS for changing the hyperlinks on the page. "a" is for Anchor */
a:link {color:#8AC0FF;}

a:hover {color:#C2856D;}

a:focus {color:#C2856D;}

a:visited {color: #A76EFF;}

a:active {color: #C2856D;}

a {text-decoration: none;}


