/*CSS for Index.html*/

h1 {
    text-align:center;
    color: #003366;
    font-family: Georgia, serif;
}

h3 {
  color:darkblue;
  font-size: 16pt;
}

body {
    font-size: 100%;
    margin: 2em;
}

blockquote {
    text-align: center;
    font-size: 14pt;
}

p {
    font-family: "Times New Roman", Times, serif;
    font-size: 12pt;
}

img {
    float:right;
}

/* ID-specific modifications */

#copyright {
    font-size: 14pt;
    text-align: center;    
}

li.in-progress {
    color:coral
}

li.complete {
    color:cornflowerblue;
}

li.minors {
    color:black;
}

/* CSS for changing the hyperlinks on the page. "a" is for Anchor */
a:link {color:cornflowerblue;}

a:hover {color:darkblue;}

a:focus {color:darkorange;}

a:visited {color: blueviolet;}

a:active {color: darkorange;}

a {text-decoration: none;}
/* the 3 additional properties from CH.3 are below*/
body li {font-size: 10pt;}
body h3 {font-size: 16pt;}
body p {font-size: 14pt;}